{% extends 'main.html' %}
{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }
</style>

<div class="home-container">
    <div>
        
        <a href="{% url 'home' %}">All Subjects</a>
        <hr><h3>Hot Subjects</h3>
        <hr>
        {% for topic in topics %}
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            <hr>
        {% endfor %}
    </div>

    <div>
        <h5>Available rooms: {{room_count}}</h5>
        <a href="{% url 'create-room' %}">Create a Room</a>
        <div>
            {%for room in rooms%}
                <div>
                    <a href="{% url 'update-room' room.id %}">EDIT</a>
                    <a href="{% url 'delete-room' room.id %}">DELETE</a>
                    <span>@{{room.host.username}}</span>
                    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}} </a>-- {{room.description}}</h5>
                    <span>@{{room.topic.name}}</span>
                    <hr>
                </div>
            
                {% if room.id == 3 %}
                <h1>you are in room 3</h1>
                {% endif %}
            {% endfor %}
            
        </div>

    </div>
    
</div>
{% endblock %}